In [44]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

%matplotlib inline

In [45]:
alldf_15_780 = pd.read_csv('./data/전체_주차시간기준_전처리.csv')

In [46]:
alldf_15_780

        고객구분    연도  주차시간(분)                 진입시각                 진출시각  차종
0         일반  2017      494  2017-01-01 00:25:43  2017-01-01 08:41:00  소형
1         일반  2017      629  2017-01-01 00:43:03  2017-01-01 11:11:41  소형
2        정기권  2017      295  2017-01-01 00:46:22  2017-01-01 05:41:13  소형
3         일반  2017      470  2017-01-01 00:50:25  2017-01-01 08:41:05  소형
4         일반  2017      274  2017-01-01 01:02:22  2017-01-01 05:36:07  소형
...      ...   ...      ...                  ...                  ...  ..
1023629   일반  2019       57  2019-10-24 09:30:17  2019-10-24 10:27:12  소형
1023630   일반  2019       50  2019-10-24 09:36:04  2019-10-24 10:25:32  소형
1023631   일반  2019       42  2019-10-24 09:43:13  2019-10-24 10:24:53  소형
1023632   일반  2019       16  2019-10-24 10:00:30  2019-10-24 10:16:41  소형
1023633   일반  2019       23  2019-10-24 10:07:52  2019-10-24 10:31:22  소형

[1023634 rows x 6 columns]

In [47]:
alldf_15_780['진입시각'] = pd.to_datetime(alldf_15_780['진입시각'])

In [48]:
alldf_15_780['진출시각'] = pd.to_datetime(alldf_15_780['진출시각'])

In [49]:
alldf_15_780.dtypes

고객구분               object
연도                  int64
주차시간(분)             int64
진입시각       datetime64[ns]
진출시각       datetime64[ns]
차종                 object
dtype: object

## 날짜 변경될때까지 주차되어있는 친구들 제거

In [50]:
alldf_15_780['진입_년_월_일'] = alldf_15_780['진입시각'].apply(lambda t: t.strftime('%Y-%m-%d'))

In [51]:
alldf_15_780['진출_년_월_일'] = alldf_15_780['진출시각'].apply(lambda t: t.strftime('%Y-%m-%d'))

In [52]:
samedate_alldf = alldf_15_780[alldf_15_780['진입_년_월_일'] == alldf_15_780['진출_년_월_일']]
samedate_alldf

,고객구분,연도,주차시간(분),진입시각,진출시각,차종,진입_년_월_일,진출_년_월_일
0,일반,2017,494,2017-01-01 00:25:43,2017-01-01 08:41:00,소형,2017-01-01,2017-01-01
1,일반,2017,629,2017-01-01 00:43:03,2017-01-01 11:11:41,소형,2017-01-01,2017-01-01
2,정기권,2017,295,2017-01-01 00:46:22,2017-01-01 05:41:13,소형,2017-01-01,2017-01-01
3,일반,2017,470,2017-01-01 00:50:25,2017-01-01 08:41:05,소형,2017-01-01,2017-01-01
4,일반,2017,274,2017-01-01 01:02:22,2017-01-01 05:36:07,소형,2017-01-01,2017-01-01
...,...,...,...,...,...,...,...,...
1023629,일반,2019,57,2019-10-24 09:30:17,2019-10-24 10:27:12,소형,2019-10-24,2019-10-24
1023630,일반,2019,50,2019-10-24 09:36:04,2019-10-24 10:25:32,소형,2019-10-24,2019-10-24
1023631,일반,2019,42,2019-10-24 09:43:13,2019-10-24 10:24:53,소형,2019-10-24,2019-10-24
1023632,일반,2019,16,2019-10-24 10:00:30,2019-10-24 10:16:41,소형,2019-10-24,2019-10-24
1023633,일반,2019,23,2019-10-24 10:07:52,2019-10-24 10:31:22,소형,2019-10-24,2019-10-24

## 영업시간내에 진입 진출한 경우만 남기기

In [53]:
samedate_alldf['in_hour'] = samedate_alldf['진입시각'].dt.hour

/home/leebom/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [54]:
samedate_alldf['out_hour'] = samedate_alldf['진출시각'].dt.hour

/home/leebom/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [55]:
samedate_alldf[(samedate_alldf['in_hour'] >= 9) & (samedate_alldf['out_hour'] <= 22)]

,고객구분,연도,주차시간(분),진입시각,진출시각,차종,진입_년_월_일,진출_년_월_일,in_hour,out_hour
132,일반,2017,39,2017-01-01 09:02:31,2017-01-01 09:40:45,소형,2017-01-01,2017-01-01,9,9
133,일반,2017,132,2017-01-01 09:03:37,2017-01-01 11:15:31,소형,2017-01-01,2017-01-01,9,11
134,정기권,2017,173,2017-01-01 09:04:09,2017-01-01 11:56:39,소형,2017-01-01,2017-01-01,9,11
135,일반,2017,40,2017-01-01 09:04:17,2017-01-01 09:43:46,소형,2017-01-01,2017-01-01,9,9
136,일반,2017,60,2017-01-01 09:05:27,2017-01-01 10:04:45,소형,2017-01-01,2017-01-01,9,10
...,...,...,...,...,...,...,...,...,...,...
1023629,일반,2019,57,2019-10-24 09:30:17,2019-10-24 10:27:12,소형,2019-10-24,2019-10-24,9,10
1023630,일반,2019,50,2019-10-24 09:36:04,2019-10-24 10:25:32,소형,2019-10-24,2019-10-24,9,10
1023631,일반,2019,42,2019-10-24 09:43:13,2019-10-24 10:24:53,소형,2019-10-24,2019-10-24,9,10
1023632,일반,2019,16,2019-10-24 10:00:30,2019-10-24 10:16:41,소형,2019-10-24,2019-10-24,10,10
1023633,일반,2019,23,2019-10-24 10:07:52,2019-10-24 10:31:22,소형,2019-10-24,2019-10-24,10,10

In [ ]:
samedate_alldf.to_csv('./data/전체_운영시간내_실이용객_')